*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/PMS_Android/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/jarRepositories.xml

/PMS_Android/.idea
.idea/runConfigurations.xml

.idea/compiler.xml

.idea/misc.xml

gradle/wrapper/gradle-wrapper.properties

.idea/workspace.xml
